:root {
    --mainFontSize:10px;
}
body {
    background: lightblue;
}
h1 {
    text-align: center;
    border-style: solid;
    border-color: black;
    font-size: calc(var(--mainFontSize)*3);
    font-family: arial;
}
img {
    border-left: 4px solid navy;
    border-top: 4px solid navy;
    padding-left: 5px;
    padding-top: 5px;    
    width : 90%;
}
blockquote {
     float: right;
     border-right: 4px solid navy;
     border-bottom: 4px solid navy;
     padding-left: 5px;
     padding-bottom: 5px;
     font-size: calc(var(--mainFontSize)*1.9);
     color: black;
     max-width: 85%;
}
p {
     text-align: left;
     float: right;
     float: bottom;
     font-size: calc(var(--mainFontSize)*1.5);
     color: #744;
     padding: 3px;
}
div {
    max-width: 19%;
    height: 550px;
    border: 2px solid #222;
    float:left;
    margin: 5px;
}
@media only screen and (max-width: 1900px) {
    div {
        margin: 5%;
        max-width: 23%;
        max-height: 600px;
        border: 2px solid #222;
        float:left;
        margin: 5px;
    }
    blockquote {
        font-size: calc(var(--mainFontSize)*1.7);
    }    

}
@media only screen and (max-width: 1500px) {
    
    div {
        margin: 5%;
        max-width: 32%;
        border: 2px solid #222;
        float:left;
        margin: 5px;
    }
}
@media only screen and (max-width: 1024px) {
    
    div {
        margin: 5%;
        max-width: 45%;
        height: 600px;
        border: 2px solid #222;
        float:left;
        margin: 5px;
    }
}
@media only screen and (max-width: 768px) {
    div {
        margin: 5%;
        max-width: 80%;
        max-height: 800px;
        border: 2px solid #222;
        float:left;
        margin: 5px;
    }
    img {
       max-width : 69%;
    }
}